.navBar {
  min-width: 20vw;
  /* max-width: 25vw; */
  /* height: 100%; */
  position: fixed;
  top: 1.3rem;
  left: 0.9rem;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  transition: 2s ease-out

}

.sideContent {
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 4.25rem;
  left: -20rem;
  /* animation: sideBarShowing 2s; */
  display: flex;
  flex-direction: column;
  /* left: -; */
  height: 100vh;
  width: 20vw;
  max-width: 300px;
  min-width: 200px;
  transition: 1s ease-out;
  /* position: relative; */
}


.active{
  
  left: 0.0rem;
  /* position: absolute; */
}

.sideContent a {
  text-align: justify;
  text-decoration: none;
  /* font-size: 0.9rem; */
  /* font-family: "inconsolata", monospace; */
  padding: 10px 16px 16px 0;
}

.sideContent a:hover {
  padding-left: 2%;
  transition: 0.2s ease-in-out;
}

.toggleButton {
  background-color: transparent;
  width: 30px;
  height: 24px;
  border: none;
  cursor: pointer;
  /* cursor: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  box-sizing: border-box;
}

.toggleButton_line {
  background-color: aliceblue;
  height: 1.5px;
  width: 30px;
}

.menu-item {
  padding: 20px;
  font-size: 1.6vw !important;
  margin-top: 50px;
}

.inner-bar-icon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

/* 
@keyframes sideBarShowing {
  from {
    transform: translateX(-20deg);
  }

  to {
    transform: translateX(20deg);
    transition: ease-in-out;
  }
} */
