.genChartBtn {
    color: var(--color-white);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #131545;
    border-radius: var(--border-radius);
    width: 13VW !important;
    height: 50px;
    border: solid var(--color-white) thin;
    font-size: 1vw;
    /* box-shadow: 0.7px 0.7px 0.7px 0.7px; */

    transition: 0.4s ease-out
  }

  .genChartBtn:hover {

transform: scale(1.05);
box-shadow: 5px 5px 20px grey;

  }


  .delChartBtn {
    color: var(--color-white);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #851111;
    border-radius: var(--border-radius);
    width: 13VW !important;
    height: 50px;
    border: solid var(--color-white) thin;
    font-size: 1vw;
    /* box-shadow: 0.7px 0.7px 0.7px 0.7px; */

    transition: 0.4s ease-out
  }

  .delChartBtn:hover {

transform: scale(1.05);
box-shadow: 5px 5px 20px grey;

  }

  .tableButtons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .delDiv {
    margin-right: 20px;
  }

  .genDiv {
    margin-right: 10px;
  }

  .tableDiv {
    margin-left: 100px;
    margin-right: 20px;
  }

  /* .pagination-link{
    border-color: black;
    padding-left:20px;

  }

  .pagination-item{
    size: 5em;
    background-color: brown;
  } */

  .pagination-container{
    width: 15em;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin-left: 100px;

  }
  

  .tableControls {

    display: flex;
  }

  .hiddenCol{
  display: none;
  }

  .editedCell{
    animation-name: edittedCellAnimation;
    animation-duration: 1s;
  }



  @keyframes edittedCellAnimation{
    from{
      border: none;
    }
    to{
      border: greenyellow 2px solid;
    }
  }