.slide-container {
    width: 40VW;
    margin-left:5%;
    margin-top: 30VH
     ;}
  
  h3 {
    text-align: center; }

.tagline {
    width: 92%;
    color: white;
    font-size: 2VW;
    text-align: center;
    margin-right: 4%;
    margin-left: 4%;
}


.join {

  color: white;
  font-size: 1.4VW;
  text-align: center;
  margin: auto;
}
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 30VH;
    border-radius: 5px;;
    position: relative;
    margin: 1vw;


  
   
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background:rgba(255, 255, 255, 0.829);
    border-radius: 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(21, 10, 83)
  

    
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }

 