.chartDiv {

    margin-left: 100px;
}

.splitScreen {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.left {
    width: 35%;
    max-height: 80VH;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.right {
    width: 65%;
    display: flex;
    flex-direction: column;
    max-height: 80VH;
  
}

.chartSize {
    
    width: 70%; 
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.finalSize {

    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.chartPreview {
    padding: 20px;
    min-height: 50VH;
    border-radius: 20px;
    border: solid black;
    
}

.chartPreview, .sort {

    margin-right: 80px ;
    margin-left: 20px ;
    margin-bottom: 20px ;
 

  }

.chartIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 16%
}



.chartPreviewText {

    font-size: 22px;
    font-style: italic;
}


.sortlegend {
    margin-top: 1rem;
    margin-bottom: 1rem; 
  }

.sortBtns {

display: flex;
flex-direction: row;
justify-content: space-between;


}

.btnSize {

    min-width: 20%;
}

.btnSize2 {

    min-width: 30%;
}

.radioBtns {
/* 
    height: 100px;
    width: 100px; */
    display: flex;
}


input[type=radio] {
    width: 20px;
    height: 20px;
}

.finalChart {

    margin-right: 120px;
}

.showChartBtns {


    flex-direction: column
}

.editBtn {


    float: right;
    margin-right: 40px;
}




