.chartDiv {

    margin-left: 100px;
}

.splitScreen {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.left {
    width: 35%;
    max-height: 80VH;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.right {
    width: 65%;
    display: flex;
    flex-direction: column;
    max-height: 80VH;
  
}

.chartSize {
    
    width: 70%; 
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.finalSize {

    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.chartPreview {
    padding: 20px;
    min-height: 50VH;
    border-radius: 20px;
    border: solid black;
    
}

.chartPreview, .sort {

    margin-right: 80px ;
    margin-left: 20px ;
    margin-bottom: 20px ;
 

  }

.chartIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 16%
}



.chartPreviewText {

    font-size: 22px;
    font-style: italic;
}


.sortlegend {
    margin-top: 1rem;
    margin-bottom: 1rem; 
  }

.sortBtns {

display: flex;
flex-direction: row;
justify-content: space-between;


}

.btnSize {

    min-width: 20%;
}

.btnSize2 {

    min-width: 30%;
}

.selectChart {

    text-align: center;
}

.radioBtns {
 
    vertical-align: middle;
    display: flex;

}

.form-check {
    height: 30px;
}

.form-check-label {

margin-top: 5px;
}


input[type=radio] {
    width: 20px;
    height: 20px;
}

.finalChart {

    margin-right: 120px;
}

.showChartBtns {


    flex-direction: column
}

.editBtn {


    float: right;
    margin-right: 40px;
}


.editChartBtn {
    color: var(--color-white);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #851111;
    border-radius: var(--border-radius);
    width: 10VW !important;
    height: 50px;
    border: solid var(--color-white) thin;
    font-size: 1vw;
    /* box-shadow: 0.7px 0.7px 0.7px 0.7px; */

    transition: 0.4s ease-out
  }

  .editChartBtn:hover {

transform: scale(1.05);
box-shadow: 5px 5px 20px grey;

  }


.saveChartBtn {
    color: var(--color-white);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #111d85;
    border-radius: var(--border-radius);
    width: 15VW !important;
    height: 50px;
    border: solid var(--color-white) thin;
    font-size: 1vw;
    /* box-shadow: 0.7px 0.7px 0.7px 0.7px; */

    transition: 0.4s ease-out
  }

  .saveChartBtn:hover {

transform: scale(1.05);
box-shadow: 5px 5px 20px grey;

  }


.dlChartBtn {
    color: var(--color-white);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #28647c;
    border-radius: var(--border-radius);
    width: 15VW !important;
    height:50px;
    border: solid var(--color-white) thin;
    font-size: 1vw;
    /* box-shadow: 0.7px 0.7px 0.7px 0.7px; */

    transition: 0.4s ease-out
  }

  .dlChartBtn:hover {

transform: scale(1.05);
box-shadow: 5px 5px 20px grey;

  }

  .disabledChartBtn {

    color: var(--color-white);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #9c9c9c;
    border-radius: var(--border-radius);
    width: 15VW !important;
    height:50px;
    border: solid var(--color-white) thin;
    font-size: 1vw;
    /* box-shadow: 0.7px 0.7px 0.7px 0.7px; */

    transition: 0.4s ease-out


  }




