.login {

  text-align: center;
}

.loginBtn {
    color: var(--color-white);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #131545;
    border-radius: var(--border-radius);
    width: 80% !important;
    height: 50px;
    border: solid var(--color-white) thin;
    font-size: large;
    /* box-shadow: 0.7px 0.7px 0.7px 0.7px; */

    transition: 0.4s ease-out
  }

  .loginBtn:hover {

transform: scale(1.05);
box-shadow: 5px 5px 20px grey;

  }

  .popup-content {
    padding: 2% 1% 2% 1% !important;
    width: 400px !important;
    height: 440px !important;
    border-radius: 8px !important;
    opacity: 0.93 !important;
  }