:root {
    --color-white: white;
    --border-radius: 8px;
    --height-input-fields: 50px;
  }
  
  html {
    height: 100%;
  
  }

  .title {
    color: white
  }

  a:link {
    color: white
  }
  
  a:visited {
    color: white
  }
  
 
  a:hover {
    color: whitesmoke
  }
  
 
  a:active {
    color: white;
  }

   .bg {
    height: 100vh;
    background-image: url("../../assets/images/charts.png");
    background-repeat: no-repeat;
    background-size: 150%;
    background-attachment: fixed;
    background-position: center;
  } 
  
  
  form {
    margin-top: 150px;
    overflow: hidden;
    float: none;
  
  }
  
  .formContainer {
    width: auto;
    display: flexbox;
    text-align: center;
    position: relative;
  }
  
  .firstName,
  .lastName,
  .password,
  .confirmPassword {
    width: 8%;
    height: var(--height-input-fields);
    opacity: 0.8;
    font-size: larger;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
  }
  
  .email {
    width: 40.5% !important;
    opacity: 0.8;
    margin-top: 15px;
    margin-bottom: 15px;
    height: var(--height-input-fields);
    font-size: larger;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
  
  }
  
  .firstName,
  .password {
    margin-right: 7.5px;
  }
  
  .submit {
    color: var(--color-white);
    background-color: #131545;
    border-radius: var(--border-radius);
    width: 12% !important;
    height: 50px;
    border: solid var(--color-white) thin;
    font-size: large;

    margin-top: 55px;
    transition: 0.4s ease-out
  }

  .submit:hover {

transform: scale(1.05);
box-shadow: 5px 5px 20px var(--color-white);

  }
  
  
  .passMsgContainer{
    color: white;
    font-size: 1rem;
  }


  .passErr{
    background-color: rgb(172, 88, 88);
    size: 5em;
    content: 'X';
  }

  @media only screen and (max-width: 850px) {
    .email {
      width: 41.5% !important;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .firstName,
    .lastName,
    .password,
    .confirmPassword {
      width: 20%;
    }
  
    html {
      /* height: 200%; */
      background-image: url("../../assets/images/charts.png");
      background-repeat: repeat-y;
      /* background-repeat: no-repeat; */
      
      background-size: 450%;
      background-attachment: fixed;
      /* background-position: center; */
    }
    .email {
      width: 41.5% !important;
    }
  
    .submit {
      width: 30% !important;
    }
    body {
      background-size: 100%;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .firstName,
    .lastName,
    .password,
    .confirmPassword {
      width: 20%;
    }
  
    body {
      background-size: 100%;
    }
  
    .email {
      width: 41.5%;
    }
    .submit {
      width: 18%;
    }
  }
  