*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .fileDiv {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .activeBtn {
      color: #47567d;
      cursor: pointer; 
      border: solid #47567d 2px;
  }

  
  .notActive {

    cursor: default
  }


  .notActive:hover {

    color: grey;

  }


